.changeset
.dockerignore
.env
.git
.github
.gitignore
.history
.husky
.vscode
coverage*
*/docker-compose.yml
*/Dockerfile*
documentation
LICENSE
node_modules
README.md
references
*/dist
# apps/taco/src/infrastructure/prisma/generated
