name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4.1.1

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Bun
        run: npm install -g bun@1.0.18

      - name: Install Dependencies
        run: bun install --no-cache

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: steps.changesets.outputs.hasChangesets == 'false'
        with:
          username: raulfdm
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: bun run image:deploy
