name: Website Docs

on: [push]

permissions:
  contents: read
  pull-requests: read

jobs:
  website:
    runs-on: ubuntu-latest
    steps:
      - uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          # Can be "open", "closed", or "all".  Defaults to "open".
          state: open
      # This will echo "Your PR is 7", or be skipped if there is no current PR.
      - run: echo "Your PR is ${PR}"
        if: success() && steps.findPr.outputs.number
        env:
          PR: ${{ steps.findPr.outputs.pr }}

      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const results = github.rest.repos.listPullRequestsAssociatedWithCommit({
              owner: context.repo.owner,
              repo: context.repo.repo,
              commit_sha: ${{ github.sha }},
            });

            const issues = result.data.filter((el) => state === 'all' || el.state === state);

            const issueNumber = issues.find((el) => {
                    return context.payload.ref === `refs/heads/${el.head.ref}`;
                }) || issues[0];

            console.log(issueNumber)

      - run: |
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          echo "Pull Request Number: $pull_number"
          echo $GITHUB_REF
          echo ${{github.event.number}}
          echo ${{github.event.workflow_run.id}}
          echo ${{github.event.issue.number}}
          echo ${{ github.event.pull_request.number }}
          echo ${{ github.head_ref }}
          echo ${{ github.base_ref }}
          echo ${{ github.event.ref }}
          echo ${{ github.triggering_actor }}
          echo ${{ github.run_number }}
          env | sort

      # - name: Checkout to repository
      #   uses: actions/checkout@v4.1.1

      # - name: Setup Bun
      #   uses: oven-sh/setup-bun@v1
      #   with:
      #     bun-version: 1.0.20

      # - name: Install dependencies
      #   run: bun install --no-cache

      # - name: Build
      #   run: bun run build --filter=website

      # - name: Netlify Deploy
      #   id: netlify_deploy
      #   uses: jsmrcaga/action-netlify-deploy@v2.1.0
      #   with:
      #     install_command: "echo Skipping installing the dependencies"
      #     build_command: "echo Skipping building the web files"
      #     build_directory: ./apps/website/dist
      #     NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      #     NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      #     deploy_alias: ${{ env.BRANCH_NAME }}
      #     NETLIFY_DEPLOY_TO_PROD: ${{ env.BRANCH_NAME == 'main' }}
      #     monorepo_package: website

      # - name: Comment PR
      #   uses: thollander/actions-comment-pull-request@v2
      #   with:
      #     message: |
      #       [Preview](${{ steps.netlify_deploy.outputs.NETLIFY_PREVIEW_URL }})
